---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


@import "//fonts.googleapis.com/css?family=Open+Sans:400,600,700";

@font-face {
    font-family: "icomoon";
    font-style: normal;
    font-weight: normal;
    src: url("data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SAywAAAC8AAAAYGNtYXAaVcxZAAABHAAAAExnYXNwAAAAEAAAAWgAAAAIZ2x5ZjAeVDIAAAFwAAABzGhlYWQFJeYbAAADPAAAADZoaGVhB8IDyAAAA3QAAAAkaG10eA4AADgAAAOYAAAAHGxvY2EAzgFgAAADtAAAABBtYXhwAAoAMAAAA8QAAAAgbmFtZVcZpu4AAAPkAAABRXBvc3QAAwAAAAAFLAAAACAAAwQAAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADmAgPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAACAAAAAwAAABQAAwABAAAAFAAEADgAAAAKAAgAAgACAAEAIOYC//3//wAAAAAAIOYA//3//wAB/+MaBAADAAEAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQA4/9oDyAOIACYAAAkBNjQnJgYHCQEmIgcGFhcJAQYUFx4BMzI2NwkBHgEzMjY3NjQnAQKKAT4bGxtPIP7C/sIbTyAfBBsBPv7CGxsSJBISIg4BPgE+DSMSEiIOGxv+yAHAAT4bTyAfBBv+wgE4GxsbTyD+yP7CG08gCQ8QDgE4/sINERAOG08gAT4AAAAAAgAAAAAEAAKAABAALQAAASEiBhURFBYzITI2NRE0JiMHIxUzFSE1MzUhFTMVITUzNSM1IRUjFSE1IzUhFQPz/BoFCAgFA+YFCAgFgG1t/rp5/rR5/rptbQFGeQFMeQFGAoAIBf2aBQgIBQJmBQjG+lpgWlpZWfRgWk1HYGAAAAACAAAAgAQAAwAAEAAtAAABISIGFREUFjMhMjY1ETQmIwcjFTMVITUzNSEVMxUhNTM1IzUhFSMVITUjNSEVA/P8GgUICAUD5gUICAWAbW3+unn+tHn+um1tAUZ5AUx5AUYDAAgF/ZoFCAgFAmYFCMb6WmBaWllZ9GBaTUdgYAAAAAEAAAABAAClcKjgXw889QALBAAAAAAA0QNQ3gAAAADRA1DeAAD/2gQAA4gAAAAIAAIAAAAAAAAAAQAAA8D/wAAABAAAAAAABAAAAQAAAAAAAAAAAAAAAAAAAAcAAAAAAAAAAAAAAAACAAAABAAAOAQAAAAEAAAAAAAAAAAKABQAHgBmAKYA5gABAAAABwAuAAIAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEADgAAAAEAAAAAAAIADgBHAAEAAAAAAAMADgAkAAEAAAAAAAQADgBVAAEAAAAAAAUAFgAOAAEAAAAAAAYABwAyAAEAAAAAAAoANABjAAMAAQQJAAEADgAAAAMAAQQJAAIADgBHAAMAAQQJAAMADgAkAAMAAQQJAAQADgBVAAMAAQQJAAUAFgAOAAMAAQQJAAYADgA5AAMAAQQJAAoANABjAGkAYwBvAG0AbwBvAG4AVgBlAHIAcwBpAG8AbgAgADEALgAwAGkAYwBvAG0AbwBvAG5pY29tb29uAGkAYwBvAG0AbwBvAG4AUgBlAGcAdQBsAGEAcgBpAGMAbwBtAG8AbwBuAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA") format("truetype"), url("data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAAWYAAsAAAAABUwAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgDxIDLGNtYXAAAAFoAAAATAAAAEwaVcxZZ2FzcAAAAbQAAAAIAAAACAAAABBnbHlmAAABvAAAAcwAAAHMMB5UMmhlYWQAAAOIAAAANgAAADYFJeYbaGhlYQAAA8AAAAAkAAAAJAfCA8hobXR4AAAD5AAAABwAAAAcDgAAOGxvY2EAAAQAAAAAEAAAABAAzgFgbWF4cAAABBAAAAAgAAAAIAAKADBuYW1lAAAEMAAAAUUAAAFFVxmm7nBvc3QAAAV4AAAAIAAAACAAAwAAAAMEAAGQAAUAAAKZAswAAACPApkCzAAAAesAMwEJAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA5gIDwP/AAEADwABAAAAAAQAAAAAAAAAAAAAAIAAAAAAAAgAAAAMAAAAUAAMAAQAAABQABAA4AAAACgAIAAIAAgABACDmAv/9//8AAAAAACDmAP/9//8AAf/jGgQAAwABAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAOP/aA8gDiAAmAAAJATY0JyYGBwkBJiIHBhYXCQEGFBceATMyNjcJAR4BMzI2NzY0JwECigE+GxsbTyD+wv7CG08gHwQbAT7+whsbEiQSEiIOAT4BPg0jEhIiDhsb/sgBwAE+G08gHwQb/sIBOBsbG08g/sj+whtPIAkPEA4BOP7CDREQDhtPIAE+AAAAAAIAAAAABAACgAAQAC0AAAEhIgYVERQWMyEyNjURNCYjByMVMxUhNTM1IRUzFSE1MzUjNSEVIxUhNSM1IRUD8/waBQgIBQPmBQgIBYBtbf66ef60ef66bW0BRnkBTHkBRgKACAX9mgUICAUCZgUIxvpaYFpaWVn0YFpNR2BgAAAAAgAAAIAEAAMAABAALQAAASEiBhURFBYzITI2NRE0JiMHIxUzFSE1MzUhFTMVITUzNSM1IRUjFSE1IzUhFQPz/BoFCAgFA+YFCAgFgG1t/rp5/rR5/rptbQFGeQFMeQFGAwAIBf2aBQgIBQJmBQjG+lpgWlpZWfRgWk1HYGAAAAABAAAAAQAApXCo4F8PPPUACwQAAAAAANEDUN4AAAAA0QNQ3gAA/9oEAAOIAAAACAACAAAAAAAAAAEAAAPA/8AAAAQAAAAAAAQAAAEAAAAAAAAAAAAAAAAAAAAHAAAAAAAAAAAAAAAAAgAAAAQAADgEAAAABAAAAAAAAAAACgAUAB4AZgCmAOYAAQAAAAcALgACAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAA4ArgABAAAAAAABAA4AAAABAAAAAAACAA4ARwABAAAAAAADAA4AJAABAAAAAAAEAA4AVQABAAAAAAAFABYADgABAAAAAAAGAAcAMgABAAAAAAAKADQAYwADAAEECQABAA4AAAADAAEECQACAA4ARwADAAEECQADAA4AJAADAAEECQAEAA4AVQADAAEECQAFABYADgADAAEECQAGAA4AOQADAAEECQAKADQAYwBpAGMAbwBtAG8AbwBuAFYAZQByAHMAaQBvAG4AIAAxAC4AMABpAGMAbwBtAG8AbwBuaWNvbW9vbgBpAGMAbwBtAG8AbwBuAFIAZQBnAHUAbABhAHIAaQBjAG8AbQBvAG8AbgBGAG8AbgB0ACAAZwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABJAGMAbwBNAG8AbwBuAC4AAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==") format("woff");
}


// Our variables
$base-background-color: #f4f3f4;
$yan-blue: #266A8D;
$light-blue: lighten($yan-blue, 10%);
$nick-red: #d5541c;
$text-gray: #434343;
$base-font-family: "Avenir Next", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$normal-font-size:	24px;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #484848;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
"base",
"layout",
"syntax-highlighting"
;

// add by Darwin
@import "manGoLib";


@keyframes moveUp{
	0% {
		transform:translateY(42px); 
		opacity:0;
	}

	100% {
		transform:translateX(0);
		opacity: 1;
	}
}

@keyframes moveDown{
	0% {
		transform:translateY(-42px); 
		opacity:0;
	}

	100% {
		transform:translateX(0);
		opacity: 1;
	}
}

%animateMU {
	@include allBrowserStyle("animation", moveUp 0.6s ease-in-out);
}

%animateMD {
	@include allBrowserStyle("animation", moveDown 0.6s ease-in-out);
}

h1, header > * {
	@extend %animateMD;
}


footer > *, .rss-subscribe {
	@extend %animateMU;
}




@keyframes moveLeft{
	0% {
		transform:translateX(100px); 
		opacity:0;
	}

	100% {
		transform:translateX(0);
		opacity: 1;
	}
}


$total_delay: 1/* s */;
$posts_on_one_page: 20;
$duration: 1;
$delay_rate: 1.2;
@for $i from 1 through $posts_on_one_page {
	#post-#{$i} {
		@include allBrowserStyle(animation, moveLeft #{$duration}s ease-in-out #{$i / 20 * $total_delay}s );		

		img {
			@include allBrowserStyle(animation, moveLeft #{$duration}s ease-in-out #{$i / 20 * $total_delay * $delay_rate}s );					
		}

		.post_link {
			font-size: 100px;
		}

	}
}

// 图片下的说明文字

$duration: 0.5;
li>div:after, li, li > * , li:hover:after, li:after{

	@include allBrowserStyle(transition, height #{$duration}s);
}

li>div:after{
	color: $text-gray;
	text-indent: 2em;
	overflow: hidden; 
	content: "";
	height: 0px;
	float: left;
	clear: both;
}
li>div:hover:after{
	content: attr(excerpt); 
	margin-top: 0.5em;
	opacity: 1; 
	content: attr(excerpt);
	display: block;
	height: 100px;
}


$image-height: 65px;
$image-width: 120px;
.extra {
	height:15px; 
	width:100%; 
	float:left; 
	display: block; 
}

.post-container{
	overflow:hidden; 
	box-shadow: 1px 1px 2px #888888; 
	padding:10px;
}

.thumbimg{
	width: $image-width;
	height: $image-height; 
	border: 1px gray solid; 
	margin: 0;
	margin-top: -15px; 
	float:left; 
	border-radius:5px;
}

.post-link {
	display:inline; margin-left:10px; float:left;
}








