<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">


  
  <link rel="stylesheet" href="/css/pygments.css">
  <link rel="apple-touch-icon" href="http://ww2.sinaimg.cn/mw690/da914f1fgw1f276ug36k1j20e80e83yu.jpg">
  <link rel="SHORTCUT ICON" href="http://ww4.sinaimg.cn/mw690/da914f1fgw1f276ug20bij203k03k3yd.jpg"> 
</head>
